
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(66, 66, 66);
}
/* control de capas */
div{
    width: 200px;   
    padding: 10px;  
}
#contenedor{
    background-color: aliceblue;
    width: 80%;
    height: 300px;
    margin: 0px auto;
}
#uno{
    background-color: aqua;
    height: 40%;
    margin: auto;
}
#dos{
    background-color: blueviolet;
    margin:0px auto ;
    border: solid black 2px;
    border-radius: 10px;
    height: 40%;
}