      :root {
        background-color: black;
        color: aliceblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      h1 {
        text-align: center;
      }
      h3{
        text-align: center;
      }
      ul {
        list-style-type: none;
        align-content: center;
        display: flex;
        justify-content: center;
        
      }
      ul li {
        float: left;
        padding: 10px;
        margin: 10px;
        width: 100px;
        text-align: center;
        border-radius: 10px;
        /* background-color: rgb(24, 31, 37); */
        background: radial-gradient(#2889c5, #192ae9);
        border: 3px solid;
        border-color: #5158a3;
        
      }
      a{
        color: antiquewhite;
      }
      ul li:hover{
        background:radial-gradient(#0c2d42, #192ae9);
        box-shadow: 3px 3px 10px rgb(100, 122, 211);
      }